<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazing.myapplicationjawa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kuis.ResultKuis3Activity"></activity>
        <activity android:name=".kuis.ResultKuis2Activity" />
        <activity android:name=".profil.ProfilDsnActivity" />
        <activity android:name=".profil.ProfilMhsActivity" />
        <activity android:name=".kuis.ResultKuis4Activity" />
        <activity android:name=".kuis.ResultKuisActivity" />
        <activity android:name=".kuis.Kuis4Activity" />
        <activity android:name=".kuis.Kuis3Activity" />
        <activity android:name=".kuis.Kuis2Activity" />
        <activity android:name=".kuis.Kuis1Activity" />
        <activity android:name=".kuis.MenuKuisActivity" />
        <activity android:name=".materi.Materi5Activity" />
        <activity android:name=".materi.Materi4Activity" />
        <activity android:name=".materi.Materi3Activity" />
        <activity android:name=".materi.Materi2Activity" />
        <activity android:name=".materi.Materi1Activity" />
        <activity android:name=".materi.MenuMateriActivity" />
        <activity android:name=".menu.ProfilActivity" />
        <activity android:name=".menu.KapustakaanActivity" />
        <activity android:name=".menu.KuisActivity" />
        <activity android:name=".menu.KomikActivity" />
        <activity android:name=".menu.MateriActivity" />
        <activity android:name=".menu.KompetensiActivity" />
        <activity android:name=".menu.PitedahActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>