<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazing.ruangcoding">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash2Activity"></activity>
        <activity android:name=".profil.ProfilMediaActivity" />
        <activity android:name=".kuis.MenuQuizActivity" />
        <activity android:name=".profil.ProfilDsnActivity" />
        <activity android:name=".profil.ProfilMhsActivity" />
        <activity android:name=".kuis.ResultQuizActivity" />
        <activity android:name=".kuis.ModulActivity" />
        <activity android:name=".materi.Materi3Activity" />
        <activity android:name=".materi.Materi2Activity" />
        <activity android:name=".materi.Materi1Activity" />
        <activity android:name=".menu.QuizActivity" />
        <activity android:name=".menu.VideoActivity" />
        <activity android:name=".menu.MenuProfileActivity" />
        <activity android:name=".menu.MenuMateriActivity" />
        <activity android:name=".menu.KompetensiActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>